# EditorConfig is awesome: https://EditorConfig.org
#
# default editorconfig set ~/ to symlink

# top-most EditorConfig file
##
# root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# default character-set
charset = utf-8


# rc files
# ex.) textlintrc, ...
[*rc]
tab_width=2
indent_size = 2
indent_style = space


# Web Sites
#
[*.htm*]
tab_width=2
indent_size = 2
indent_style = space

# ruby
[*.rb]
tab_width=2
indent_size = 2
indent_style = space

