## GITATTRIBUTES FOR education
#
# These settings are for any web project.
#
# Details per file setting:
#   text    These files should be normalized (i.e. convert CRLF to LF).
#   binary  These files are binary and should be left untouched.
#
# Note that binary is a macro for -text -diff.
######################################################################
* text=input


###
#  Git LFS
#   binary / non text and big size file


#
# documents (bibary formats)
*.pdf   -text

# sound file
*.ogg   -text
*.mp3 binary

# graphics
*.png   -text
*.jpeg  -text
*.jpg   -text
*.gif   -text
*.webp  -text

# fonts
*.ttf   binary
*.woff* binary
*.eot   binary

# library / programming
*.sml   text
*.jar   binary

