###
###  ignore files using git
###  for online education notes
###

# ignore backup files
$~*
*~

#  ignore patch
*.diff

## Visual Studio Code settings
#
### visualstudiocode

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
