#gridContainer {
    display: grid;
}
#brush {
    position: relative;
    left: 10%;
    top: 10%;
}
.square {
    position: relative;
    background-color: grey;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: lightGrey;
}