a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: purple;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

body, html {
    height: 100%;
}

h1 {
    color: green;
    padding-top: 2rem;
    text-align: center;
}

h2 {
    color: darkblue;
    text-align: center;
}

h3 {
    color: darkblue;
    text-align: center;
}

hr {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 5px dotted green;
    width: 75%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

table {
    border-collapse: collapse;
    font-size: 1rem;
    margin: 0.8rem;
    width: 95%;
}

td {
    /* uncomment the following line to see the cell layout */
    /* border: 2px solid red; */
    padding: 0.5rem;
}

.background {
    background-image: url(../images/bkg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    z-index: -1;
}

.centered {
    text-align: center;
}

.footnotes {
    font-size: 0.7rem;
}

.headspaced {
    margin-top: 10rem;
}

.right-aligned {
    text-align: right;
}

.multiple-entries {
    color: blue;
    font-weight: bold;
}

