# EditorConfig is awesome: https://EditorConfig.org
#
# default editorconfig set ~/ to symlink

# top-most EditorConfig file
##
# root = true

# Unix-style newlines with a newline ending every file
[*.rb]
tab_width=2
indent_size = 2
indent_style = space

