##
##
##  @(#) : git global untrack file settings
#        :   for Window
##
#
# @version  1.0.0
# @author   Furukawa, Atsushi <atsushifx@aglabo.com>
# @update   202-09-24
# @license  MIT
#
# @desc<<
# git ignore files about,
#   programming language education's ignore file
#
#<<

## programming language specific
# F#
**.dll
**.exe


.fake